fastapi==0.136.1
uvicorn[standard]==0.34.0
python-multipart==0.0.29

pillow==10.4.0
numpy==1.26.4

torch==2.7.0
torchvision==0.22.0

einops==0.8.2
albumentations==1.4.10
tqdm==4.67.3

git+https://github.com/cjyaras/monarch-attention.git

#realesrgan==0.3.0
#basicsr==1.4.2

opencv-python-headless==4.10.0.84